pkgbase = cvsps2
	pkgdesc = cvsps v2, needed by 'git cvsimport'
	pkgver = 2.2b1
	pkgrel = 1
	url = http://cvsps.sourceforge.net
	arch = i686
	arch = x86_64
	license = GPL
	provides = cvsps=2.2b1
	conflicts = cvsps
	source = https://downloads.sourceforge.net/project/cvsps/cvsps-2.2b1.tar.gz
	source = inet_addr-64bit.patch
	md5sums = 997580e8e283034995b9209076858c68
	md5sums = 669d2eefca07ef46cafbe3686d616239

pkgname = cvsps2

